<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vrjco.v.os_project">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mouse"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mouse"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TouchMouseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MouseControllerActivity"></activity>
    </application>

</manifest>